* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

img {
    width: 158px;
    height: 158px;
    border: 1px solid black;
    transition: .5s;
}


h1 {
    font-family: sans-serif;
    font-size: 50px;
}

button {
    padding: 10px 30px;
    background: aliceblue;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 18px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

section {
    padding: 4px;
    border: 1px solid black;
    width: 660px;
    height: 660px;
    display: flex;
    justify-content: center;
    gap: 3px;
    flex-wrap: wrap;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    background: white;
    align-items: center;
    margin: 10px 0;
}

.hid {
    visibility: hidden;
}

.absolute {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.card {
    position: relative;
    cursor: pointer;
    user-select: none;
    transform-style: preserve-3d;
    transition: .5s;
}
