* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%););
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

img {
    width: 158px;
    height: 158px;
    transform-style: preserve-3d;
    transition: .1s;
}

h1 {
    font-family: sans-serif;
    font-size: 50px;
    cursor: pointer;
    color: white;
}

button {
    padding: 10px 25px;
    font-size: 40px;
    cursor: pointer;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.matched {
    filter: blur(5px);
    scale: 0.9;
}

section {
    padding: 10px;
    width:700px;
    height: 700px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    box-shadow: 0 0 20px rgba(256, 256, 256, 0.5);
    border-radius: 10px;
    background: white;
    align-items: center;
    margin: 10px 0;
}

.hid {
    opacity: 0;
    transform: rotateY(180deg);
}

.show {
    opacity: 1;
    transform: rotateY(0deg);
}

.absolute {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.card {
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: .3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/**/